<%- include ('./partials/header') %>

<h1> Bienvenue sur l'API de Kaamelott </h1>

<ul>
  <li><a href="/random">Cliquer ici pour une citation au hasard</a></li>

  <li><a href="/random/personnage/Kadoc">Cliquer ici pour une citation au hasard d'un personnage</a></li>

  <li><a href="/sounds/bataille_de_fions">Cliquer ici pour un son</a></li>
</ul>

<%- include ('./partials/footer') %>